body{
    background-color: rgb(57, 57, 57);
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
}

.atas {
    width : 100%;
    height: 20px;
}

.ul-atas{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    margin: 20px;
    color: white;
    font-size: 50px;
    font-style: italic;
    text-shadow: 2px 2px 5px blue;
    
}

.gambar-tengah {
    border: 2px solid white;
    margin-top: 50px;
    margin-bottom: 5px;
}

.ul-tengah{
    list-style-type: none;
    color: white;
    text-align: center;
    font-size:20px;
    width: 60%;
    text-shadow: 2px 2px 5px blue;
}

.audio-bawah{
    width: 250px;
    height: 20px;
}

.salju, .salju:after, .salju:before{
    content: "";
    position: absolute;
    top: -650px;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: radial-gradient(4px 4px at 100px 50px, #fff, transparent);
    background-image: radial-gradient(6px 6px at 200px 150px, #fff, transparent);
    background-image: radial-gradient(3px 3px at 300px 250px, #fff, transparent);
    background-image: radial-gradient(4px 4px at 400px 350px, #fff, transparent);
    background-image: radial-gradient(6px 6px at 500px 100px, #fff, transparent);
    background-image: radial-gradient(3px 3px at 50px 200px, #fff, transparent);
    background-image: radial-gradient(4px 4px at 150px 300px, #fff, transparent);
    background-image: radial-gradient(6px 6px at 250px 400px, #fff, transparent);
    background-image: radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;

    animation: saljuAnim 3s linear;
    animation-iteration-count: infinite;
}

.salju:after{
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
    animation-direction: reverse;
    animation-duration: 6s;
}

.salju:before{
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
}

@keyframes saljuAnim{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(650px);
    }
}